{% extends "layout.html" %}
{% block content %}
  <div class="connect_database">
    <h2>Connect a database to view information</h2>
    <div class="half-spacer"></div>
    <p>Download a MySQL file to create sample database on a local server.</p>
    <div>
      <a href="{{ url_for('login_page') }}" class="btn btn-outline-primary" style="margin: 10px;">Connect</a>
      <a href="{{ url_for('static', filename='schemamaker.sql') }}" class="btn btn-outline-primary" style="margin: 10px;">Download</a>
    </div>
  </div>
{% endblock content %}