{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid" style="display: flex;">
    <div class="row" id="table_main_row">
      <div class="col-3" id="left-nav" style="display: flex;">
        <nav class="nav flex-column" id="left_tbl_lay_nav">
          {% block nav %}
          
          {% endblock nav %}
          <div style="height: 50px; width: 50px;"></div>
        </nav>

      </div>
      <div class="col-9" id="right-panel">
        {% block subcontent %}{% endblock %}
      </div>
    </div>
  </div>
{% endblock content %}
